.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF5EE;
}


.header picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vh 0 9vh ;
    max-width: 120px;
}

.header picture:hover,
.header nav button:hover, 
.header form button:hover{
    transform: scale(1.1) rotate(5deg); 
    transition: transform 0.3s ease-in-out;
    filter: brightness(1.2); 
}
    
.header nav {
    display: flex; 
    align-items: center;
}

.header nav button{
    margin-right: 10px;
}

.header nav ul li a{
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    position: right;
    margin-right: 10px;
    position: relative;
}


.header nav ul li a::after{
    content: "";
    display: block;
    position:absolute;
    bottom: 0px;
    background: #4b9f56;
    width: 0%;
    height: 1px;
    transition: 0.3s;
}


.header nav ul li a:hover::after{
    width: 80%;
}


.header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    background-color: transparent;
    border: none;
    margin: 8px;
}

input{
    border-style: none none solid;
    border-color: pink ;
    background-color: transparent;
    width: 35vh;
    font-size: 3vh;
}

/* Remover as bordas pretas ao focar */
input:focus {
    outline: none; /* Remove a borda preta padrão */
  }  


  @media (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .header picture {
        margin: 0 auto;
        max-width: 80px; /* Reduz o tamanho da logo em telas menores */
    }

    .header nav ul {
        justify-content: center;
        gap: 10px;
    }

    .header nav ul li a {
        font-size: 1.2rem;
    }

    input {
        width: 70%;
        font-size: 1.5rem;
        margin-left: 60px;
    }

    button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction:row;
        align-items: center;
        gap: 15px;
    }

    .header picture {
        max-width: 80px; 
        margin: 0;
    }

    .header form {
        width: 70%; 
    }
    .header nav {
        width: 100%;
        display: flex;
        flex-direction: column; /* Organiza os links abaixo dos outros elementos */
        align-items: center;
        gap: 15px;
    }

    .header nav ul {
        flex-direction: row; /* Alinha os links horizontalmente */
        justify-content: center;
        gap: 10px;
        width: 100%; /* Garante que ocupe toda a largura */
    }

    .header nav ul li a {
        font-size: 1rem;
        padding: 5px 10px;
        background: #4b9f56;
        border-radius: 5px;
    }

    button {
        width: 30px;
        height: 30px;
    }

    input {
        width: 70%;
        font-size: 1.2rem;
    }
}